spring:
  application:
    name: base-auth
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        ip: localhost
        port: ${server.port}
      config:
        server-addr: localhost:8848
        prefix: auth
        file-extension: yaml
        group: DEFAULT_GROUP
management:
  endpoints:
    web:
      exposure:
        include: '*'

swagger:
  base-package: cn.heshw.baseauth
