server:
  port: 81

spring:
  application:
    name: base-auth
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        prefix: auth
        file-extension: yaml
        group: DEFAULT_GROUP
management:
  endpoints:
    web:
      exposure:
        include: '*'