spring:
  application:
    name: base-gateway
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        ip: localhost
        port: ${server.port}
      config:
        server-addr: localhost:8848
    gateway:
      routes:
        - id: authroization
          uri: http://localhost:81/
          predicates:
            - Path=/auth/**
        - id: user
          uri: http://localhost:82/
          predicates:
            - Path=/user/**
        - id: auth-doc
          uri: http://localhost:81
          predicates:
            - Path=/auth-doc/**
          filters:
            - SwaggerHeaderFilter
            - StripPrefix=1
        - id: user-doc
          uri: http://localhost:82
          predicates:
            - Path=/user-doc/**
          filters:
            - SwaggerHeaderFilter
            - StripPrefix=1
